<div class="center jumbotron">
  <h4>Добро пожаловать!</h4>

  <h2 style="text-align: center;">
    Демонстрационная версия приложения оценки ВУЗов
  </h2>

  <%= link_to "Зарегистрироваться", signup_path, class: "btn btn-lg btn-primary" %>
</div>
