<div class="center">



   <h1>Админ панель НПП "Атамекен"</h1>



<div class="">
 <div class="">

 <div class='navigation'>
 	<center>
      <ul>

        <a href="/expert_list">
        <li>
           <i class="fas"><img src="https://s8.hostingkartinok.com/uploads/images/2018/08/d9b96519ad12a9ff717bb2e6f6db62ad.png"></i>
           <p>ЭКСПЕРТЫ</p>
        </li>   
        </a>  

        <a href="/coordinator_list">
        <li>
           <i class="fas"><img src="https://s8.hostingkartinok.com/uploads/images/2018/08/380979bcb7f3abf8ddce18bf31fac804.png"></i>
           <p>КООРДИНАТОРЫ</p>
        </li>   
        </a> 

        
        <a href="/disciplines_list">
        <li>
           <i class="fas"><img src="https://s8.hostingkartinok.com/uploads/images/2018/08/b982abc4374d342fd64708b55f5b599f.png"></i>
           <p>СПИСОК ДИСЦИПЛИН</p>
        </li>   
        </a> 

        <a href="/vuz_list">
        <li>
           <i class="fas"><img src="https://s8.hostingkartinok.com/uploads/images/2018/08/85f51da8391608440646ac6b64b50a37.png"></i>
           <p>СТАТИСТИЧЕСКИЕ ДАННЫЕ</p>
        </li>   
        </a> 

        <a href="/spec_list">
        <li>
           <i class="fas"><img src="https://s8.hostingkartinok.com/uploads/images/2018/08/9ebeb5b6929e002b45b041690eda98b3.png"></i>
           <p>ЭКСПЕРТНЫЕ ДАННЫЕ</p>
        </li>   
        </a> 

        <a href="/university_pulls">
        <li>
           <i class="fas"><img src="https://s8.hostingkartinok.com/uploads/images/2018/08/4c5782f5b97fd42779ffc290cec0bbce.png"></i>
           <p>СПИСОК ВСЕХ ВУЗов</p>
        </li>   
        </a> 

        <a href="/speciality_pulls">
        <li>
           <i class="fas"><img src="https://s8.hostingkartinok.com/uploads/images/2018/08/ac72494c866e1f593d6ab743f20c8b9f.png"></i>
           <p>СПИСОК ВСЕХ СПЕЦИАЛЬНОСТЕЙ</p>
        </li>   
        </a>

        <a href="/about">
        <li>
           <i class="fas"><img src="https://s8.hostingkartinok.com/uploads/images/2018/08/2306f8e31254622ada6d04643ca07d82.png"></i>
           <p>ГРАФИКИ</p>
        </li>   
        </a>




       </ul> 
       </center>


     

   </div>
   </div>

</div>
