<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Код специальности</Data></Cell>
        <Cell><Data ss:Type="String">Специальность</Data></Cell>
      </Row>

    @speciality_pulls = SpecialityPull.all
    <% @speciality_pulls.each do |speciality_pull| %>
      <Row>
        <Cell><Data ss:Type="String"><%= speciality_pull.key %></Data></Cell>
        <Cell><Data ss:Type="String"><%= speciality_pull.name %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
