<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Код ВУЗа</Data></Cell>
        <Cell><Data ss:Type="String">Наименование ВУЗа</Data></Cell>
      </Row>

    <% @university_pulls = UniversityPull.all %>
    <% @university_pulls.each do |university_pull| %>
      <Row>
        <Cell><Data ss:Type="String"><%= university_pull.key %></Data></Cell>
        <Cell><Data ss:Type="String"><%= university_pull.name %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
